@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

$widthContainer: 1140px;

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: $widthContainer;
    margin: 0 auto;
}

.header {
    height: 100px;
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    .logoContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .logo {
            width: 59px;
            height: 51px;
        }

        .bran {
            color: #222222;
            font-size: 27px;
            font-weight: 300;
            line-height: 51px;

            span {
                font-weight: 400;
                color: #f16d7f;
            }
        }
    }

    .search {
        margin-left: 100px;
        display: flex;
        align-items: center;
        height: 40px;
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        overflow: hidden;

        .searchBrowse {
            height: inherit;
            padding: 12px;
            font-size: 14px;
            color: #222222;
            background-color: #f9f9f9;
            box-sizing: border-box;
            border-right: 1px solid #e6e6e6;
        }

        input {
            height: inherit;
            padding: 0 3px;
            border: none;
            outline: none;
        }

        button {
            height: inherit;
            padding: 0 8px;
            border: 0;
            background: none;
            border-left: 1px solid #e6e6e6;
        }
    }

    .headerCart {
        // width: 32px;
        // height: 29px;
        margin-left: auto;
        margin-right: 25px;
    }

    .btnMyAccount {
        padding: 15px;
        background-color: #f16d7f;
        color: white;
        border: none;
    }
}

.nav {
    border-top: 1px solid #ececec;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navLink {
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        color: #222222;
    }

    .navLink:not(:last-child) {
        margin-right: 45px;
    }

    .navLink:hover {
        color: #f16d7f;
    }
}

footer {
    margin-top: 100px !important;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footerBrand {
    width: 427px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #898989;

    .logoContainer {
        display: flex;
        align-items: center;

        .logo {
            width: 59px;
            height: 51px;
        }

        .bran {
            color: #898989;
            font-size: 27px;
            font-weight: 300;
            line-height: 51px;

            span {
                font-weight: 400;
                color: #f16d7f;
            }
        }
    }

    .footerBrandText1 {
        margin: 30px 0;
    }
}

.footerColumn {
    padding-top: 15px;

    h2 {
        margin: 0 0 30px;
        font-size: 18px;
        font-weight: 700;
        color: #f16d7f;
    }

    a {
        display: block;
        color: #898989;
        font-size: 16px;
        text-decoration: none;
    }

    a:hover {
        color: #f16d7f;
    }

    a:not(:last-child) {
        margin-bottom: 25px;
    }
}

.copyrights {
    height: 80px;
    background: #e6e6e6;
}

.copyrightsWrap {
    margin-top: 100px;
    color: #7a7a7a;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyrightsRight {
    display: flex;
    width: 200px;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: inherit;

        i {
            width: 32px;
            height: 32px;
            background: white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        i:hover {
            color: white;
            background: #f16d7f;
        }
    }
}

.subscribeWrap {
    margin-top: 100px;
    height: 438px;
    background: url(../assets/subscribe.jpg) no-repeat center bottom, #ccc;
    background-blend-mode: overlay;
    background-size: cover;

    .subscribe {
        display: flex;
        height: inherit;

        .reviews,
        .subscribeRight {
            width: calc(100% - 1px);
        }

        .reviews {
            display: flex;
            align-items: center;

            .reviewUnit {
                width: 500px;
                display: flex;
                justify-content: space-between;

                .reviewUnitLeft {
                    width: 83px;
                }

                .reviewUnitRight {
                    width: 386px;

                    blockquote {
                        margin: 0;
                        font-size: 16px;
                        font-style: italic;
                        line-height: 26px;
                        font-weight: 700;
                    }

                    .reviewName {
                        margin-top: 20px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #f16d7f;
                    }

                    .reviewFrom {
                        color: #222224;
                        font-size: 12px;
                        font-weight: 300;
                    }

                    .reviewsSwitch {
                        width: 140px;
                        display: flex;
                        justify-content: space-between;
                        margin-top: 40px;
                        
                        div {
                            width: 38px;
                            height: 4px;
                            background-color: #d6d6d6;
                        }

                        div:hover {
                            background-color: #f16d7f;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .subscribeDivider {
            width: 1px;
            background: #e3e3e3;
        }

        .subscribeRight {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .subscribeRightHead {
                font-size: 24px;
                text-transform: uppercase;
                color: #222224;
            }

            .subscribeRightText {
                margin: 10px 0 35px;
            }

            .subscribeForm {
                height: 46px;

                input {
                    height: inherit;
                    width: 334px;
                    border: none;
                    outline: none;
                    padding: 0 28px;
                    font-weight: 700;
                    background-color: #e1e1e1;
                    border-top-left-radius: 23px;
                    border-bottom-left-radius: 23px;
                    float: left;
                }

                button {
                    background-color: #f16d7f;
                    border-top-right-radius: 23px;
                    border-bottom-right-radius: 23px;
                    color: white;
                    border: none;
                    height: inherit;
                    padding: 0 20px;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
}

//================================== NEW ARRIVALS ==================================
$height_NewArrivalsWrap: 148px;
$bcg-color_NewArrivalsWrap: #f8f3f4;

.newArrivalsWrap {
    height: $height_NewArrivalsWrap;
    background-color: $bcg-color_NewArrivalsWrap;
}

.newArrivals {
    height: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-arrivals {
    font-size: 24px;
    font-weight: 900;
    line-height: 0.83;
    color: #f16d7f;
}

.arrivalsLink {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #636363;
}

.arrivalsLink:last-child {
    font-weight: bold;
    color: #f16d7f;
}

//====================== FEATURED ITEMS ===========================
.featuredItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .featuredItem {
        height: 370px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .itemName {
            padding-left: 10px;
            font-size: 13px;
            text-transform: uppercase;
            color: #222222;
            font-weight: 700;
            max-height: 2.4em;
            overflow: hidden;
        }

        .itemPrice {
            padding: 0 0 20px 10px;
            color: #f16d7f;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .featuredImg {
            height: 280px;
            position: relative;

            .featuredBuy {
                height: inherit;
                width: 100%;
                background: rgba(0, 0, 0, 0.5);
                display: none;
                position: absolute;

                button {
                    padding: 15px;
                    border: 1px solid #ffffff;
                    background: none;
                    color: white;
                    font-size: 13px;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }

    .featuredItem:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }

    .featuredItem:hover .featuredBuy {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}