@import "commonStyles.scss";

.mainBanner {
    height: 610px;
    background-color: #e8e8e8;

    .container {
        display: flex;
        align-items: center;
        height: inherit;
        background-image: url(../assets/topHeaderBack.png);
        background-repeat: no-repeat;
        background-position: right 10px;

        .brandHeadingsContain {
            border-left: 10px solid #f16d7f;
            overflow: hidden;
            padding-left: 10px;

            h1 {
                font-weight: 900;
                font-size: 60px;
                line-height: 41px;
            }

            h2 {
                font-weight: 400;
                font-size: 40px;
                line-height: 32px;
                margin-top: 19px;
            }
        }
    }
}

.offers {
    display: flex;
    justify-content: space-between;

    .partOffers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .smallOffer,
        .bigOffer {
            margin-top: 25px;
            position: relative;

            .label {
                text-transform: uppercase;
                position: absolute;
                top: 25px;
                padding: 15px 20px;
                background: white;

                .labelTop {
                    font-size: 18px;
                    color: #222222;
                    font-weight: 700;
                }

                .labelBottom {
                    font-size: 30px;
                    color: #f16d7f;
                    font-weight: 900;
                }
            }
        }
    }
}

.featuredTitle {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

    h6 {
        font-size: 30px;
        font-weight: 700;
        text-align: center
    }

    p {
        text-align: center;
        color: #9f9f9f;
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .featuredAllProductsBtn {
        padding: 18px 24px;
        background: #f16d7f;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 700;
        display: flex;
        align-items: center;
        margin: 60px 0;

        img {
            margin-left: 10px;
        }
    }
}

.featuredBuy {
    display: none;
}

.offerForWomen {
    display: flex;
    height: 530px;

    .offerForWomenBanner {
        flex-shrink: 0;
        height: inherit;
        width: 767px;
        background: url(../assets/offerForWomen.jpg) no-repeat;
        background-size: cover;
        position: relative;

        .offerText {
            position: absolute;
            top: 146px;
            left: 40px;
            color: #ffffff;
        }

        .offerText div:first-child {
            font-size: 54px;
            font-weight: 700;
        }

        .offerText div:first-child span {
            color: #f16d7f;
        }

        .offerText div:last-child {
            font-size: 32px;
        }
    }

    .offerDetails {
        display: flex;
        flex-direction: column;
        background-color: #222224;
        color: #fbfbfb;

        .offerUnit {
            padding: 30px 30px 30px 110px;
            flex-grow: 1;

            .offerDetailsHead {
                font-size: 20px;
                font-weight: 700;
            }

            .offerDetailsText {
                line-height: 24px;
                margin-top: 15px;
                text-align: justify;
                font-size: 14px;
            }
        }

        .offerUnit:first-child {
            background: url(../assets/offerDetails1.png) no-repeat 36px 30px;
        }

        .offerUnit:nth-child(2) {
            background: url(../assets/offerDetails2.png) no-repeat 36px 30px;
        }

        .offerUnit:last-child {
            background: url(../assets/offerDetails3.png) no-repeat 36px 30px;
        }
    }


}
