@import "_commonStyles.scss";
//================================== NEW ARRIVALS ==================================
$height_NewArrivalsWrap: 148px;
$bcg-color_NewArrivalsWrap: #f8f3f4;

.newArrivalsWrap {
    height: $height_NewArrivalsWrap;
    background-color: $bcg-color_NewArrivalsWrap;
}

.newArrivals {
    height: inherit;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-arrivals {
    font-size: 24px;
    font-weight: 900;
    line-height: 0.83;
    color: #f16d7f;
}

.arrivalsLink {
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.43;
    color: #636363;
}

.arrivalsLink:last-child {
    font-weight: bold;
    color: #f16d7f;
}

//================================== PRODUCT DETAILS ==================================
.productDetails {
    display: flex;
    flex-direction: column;
}

.columnNames {
    display: flex;
    justify-content: space-between;
    padding: 90px 0 20px 0;
    border-bottom: solid 2px #c9c1c1;
}

.column:first-child {
    width: 460px;
}

.column {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.54;
    letter-spacing: -0.2px;
    text-align: left;
    color: #222222;
}

.itemRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: solid 2px #eaeaea;

    i {
        color: #7a7a7a;
        margin-right: 15px;
    }
}

.columnValue {
    color: #7a7a7a;
}

.quantityValue {
    width: 54px;
    border: 1px solid #eaeaea;
    text-align: center;
    height: 30px;
}

.item {
    display: flex;
    width: 460px;

    img {
        margin-right: 20px;
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.h3-itemName {
    font-size: 13px;
    color: #222222;
}

.characteristic {
    color: #575757;
}

.value {
    font-weight: 300;
    line-height: 1.54;
    color: #6f6e6e;
}

.buttonsWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    margin-bottom: 44px;

    button {
        padding: 20px 40px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #4a4a4a;
        text-transform: uppercase;
        font-weight: 700;
    }

    button:hover {
        background-color: #f16d7f;
    }
}

//================================== ORDER ==================================
.checkOutWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    align-items: flex-start;
}

.shippingAddressWrap {
    width: 355px;
}

.shippingAddressWrap h2 {
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 16px;
}

.shippingAddressWrap select, .shippingAddressWrap input {
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    width: 100%;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.shippingAddressWrap input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b1b1b1;
}

.shippingAddressWrap input::-moz-placeholder {
    /* Firefox 19+ */
    color: #b1b1b1;
}

.shippingAddressWrap input:-ms-input-placeholder {
    /* IE 10+ */
    color: #b1b1b1;
}

.shippingAddressWrap input:-moz-placeholder {
    /* Firefox 18- */
    color: #b1b1b1;
}

.shippingAddressWrap button {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    background: white;
    font-family: inherit;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 11px;
}

.couponDiscountWrap {
    width: 355px;
}

.couponDiscountWrap h2 {
    margin-top: 0;
    margin-bottom: 22px;
    text-transform: uppercase;
    font-size: 16px;
}

.couponDiscountWrap label {
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
}

.couponDiscountWrap input {
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    width: 100%;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
    padding: 13px;
    font-family: inherit;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.couponDiscountWrap input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b1b1b1;
}

.couponDiscountWrap input::-moz-placeholder {
    /* Firefox 19+ */
    color: #b1b1b1;
}

.couponDiscountWrap input:-ms-input-placeholder {
    /* IE 10+ */
    color: #b1b1b1;
}

.couponDiscountWrap input:-moz-placeholder {
    /* Firefox 18- */
    color: #b1b1b1;
}

.couponDiscountWrap button {
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    background: white;
    font-family: inherit;
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 700;
    font-size: 11px;
}

.grandTotalWrap {
    width: 360px;
    background-color: #f5f3f3;
    padding: 40px;
    box-sizing: border-box;
}

.grandTotalSub {
    margin-bottom: 14px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

.grandTotalSub span:last-child {
    margin-left: 15px;
}

.grandTotalGrand {
    text-align: right;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 22px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 17px;
}

.grandTotalGrand span:last-child {
    color: #f16d7f;
    margin-left: 20px;
}

.grandTotalWrap button {
    width: 100%;
    background-color: #f16d7f;
    padding: 20px 38px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border: none;
}