@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  font-family: 'Lato', sans-serif; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

.header {
  padding: 20px;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }
  .header .logoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .logoContainer .logo {
      width: 59px;
      height: 51px; }
    .header .logoContainer .bran {
      color: #222222;
      font-size: 27px;
      font-weight: 300;
      line-height: 51px; }
      .header .logoContainer .bran span {
        font-weight: 400;
        color: #f16d7f; }
  .header .search {
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden; }
    .header .search .searchBrowse {
      height: inherit;
      padding: 12px;
      font-size: 14px;
      color: #222222;
      background-color: #f9f9f9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 1px solid #e6e6e6; }
    .header .search input {
      height: inherit;
      padding: 0 3px;
      border: none;
      outline: none; }
    .header .search button {
      height: inherit;
      padding: 0 8px;
      border: 0;
      background: none;
      border-left: 1px solid #e6e6e6; }
  .header .headerCart {
    display: block;
    margin-left: auto;
    margin-right: 25px; }
  .header .btnMyAccount {
    padding: 15px;
    background-color: #f16d7f;
    color: white;
    border: none; }
  @media (max-width: 1040px) {
    .header {
      width: auto;
      margin: auto; } }
  @media (max-width: 745px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .header .headerCart,
    .header .search,
    .header .btnMyAccount {
      margin: 5px auto; } }

.nav {
  border-top: 1px solid #ececec;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav .navLink {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #222222; }
  .nav .navLink:not(:last-child) {
    margin-right: 45px; }
  .nav .navLink:hover {
    color: #f16d7f; }
  @media (max-width: 745px) {
    .nav {
      height: 100px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.footer {
  padding: 0 20px; }

footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media (max-width: 1040px) {
    footer {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 50px; } }
  @media (max-width: 507px) {
    footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.footerBrand {
  width: 427px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #898989; }
  .footerBrand .logoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footerBrand .logoContainer .logo {
      width: 59px;
      height: 51px; }
    .footerBrand .logoContainer .bran {
      color: #898989;
      font-size: 27px;
      font-weight: 300;
      line-height: 51px; }
      .footerBrand .logoContainer .bran span {
        font-weight: 400;
        color: #f16d7f; }
  .footerBrand .footerBrandText1 {
    margin: 30px 0; }
  @media (max-width: 1040px) {
    .footerBrand {
      width: 100%; } }

.footerColumn {
  padding-top: 40px; }
  .footerColumn h2 {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 700;
    color: #f16d7f; }
  .footerColumn a {
    display: block;
    color: #898989;
    font-size: 16px;
    text-decoration: none; }
  .footerColumn a:hover {
    color: #f16d7f; }
  .footerColumn a:not(:last-child) {
    margin-bottom: 25px; }
  @media (max-width: 507px) {
    .footerColumn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .footerColumn h2 {
        width: 100%; } }

.copyrights {
  height: 80px;
  background: #e6e6e6; }

.copyrightsWrap {
  margin-top: 100px;
  color: #7a7a7a;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.copyrightsRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .copyrightsRight a {
    text-decoration: none;
    color: inherit; }
    .copyrightsRight a i {
      width: 32px;
      height: 32px;
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
    .copyrightsRight a i:hover {
      color: white;
      background: #f16d7f; }

.subscribeWrap {
  margin-top: 100px;
  height: 438px;
  background: url(../assets/subscribe.jpg) no-repeat center bottom, #ccc;
  background-blend-mode: overlay;
  background-size: cover; }
  .subscribeWrap .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit; }
    .subscribeWrap .subscribe .reviews,
    .subscribeWrap .subscribe .subscribeRight {
      width: calc(100% - 1px); }
    .subscribeWrap .subscribe .reviews {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .subscribeWrap .subscribe .reviews .reviewUnit {
        width: 500px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitLeft {
          width: 83px; }
        .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight {
          width: 386px; }
          .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight blockquote {
            margin: 0;
            font-size: 16px;
            font-style: italic;
            line-height: 26px;
            font-weight: 700; }
            @media (max-width: 507px) {
              .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight blockquote {
                font-size: 14px; } }
          .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight .reviewName {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            color: #f16d7f; }
          .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight .reviewFrom {
            color: #222224;
            font-size: 12px;
            font-weight: 300; }
          .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight .reviewsSwitch {
            width: 140px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-top: 40px; }
            .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight .reviewsSwitch div {
              width: 38px;
              height: 4px;
              background-color: #d6d6d6; }
            .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight .reviewsSwitch div:hover {
              background-color: #f16d7f;
              cursor: pointer; }
          @media (max-width: 507px) {
            .subscribeWrap .subscribe .reviews .reviewUnit .reviewUnitRight {
              width: 225px; } }
        @media (max-width: 507px) {
          .subscribeWrap .subscribe .reviews .reviewUnit {
            -ms-flex-pack: distribute;
            justify-content: space-around; } }
      @media (max-width: 1040px) {
        .subscribeWrap .subscribe .reviews {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-bottom: 50px; } }
    .subscribeWrap .subscribe .subscribeDivider {
      width: 1px;
      background: #e3e3e3; }
    .subscribeWrap .subscribe .subscribeRight {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .subscribeWrap .subscribe .subscribeRight .subscribeRightHead {
        font-size: 24px;
        text-transform: uppercase;
        color: #222224; }
      .subscribeWrap .subscribe .subscribeRight .subscribeRightText {
        margin: 10px 0 35px; }
      .subscribeWrap .subscribe .subscribeRight .subscribeForm {
        height: 46px; }
        .subscribeWrap .subscribe .subscribeRight .subscribeForm input {
          height: inherit;
          width: 334px;
          border: none;
          outline: none;
          padding: 0 28px;
          font-weight: 700;
          background-color: #e1e1e1;
          border-top-left-radius: 23px;
          border-bottom-left-radius: 23px;
          float: left; }
        .subscribeWrap .subscribe .subscribeRight .subscribeForm button {
          background-color: #f16d7f;
          border-top-right-radius: 23px;
          border-bottom-right-radius: 23px;
          color: white;
          border: none;
          height: inherit;
          padding: 0 20px;
          outline: none;
          cursor: pointer; }
        @media (max-width: 507px) {
          .subscribeWrap .subscribe .subscribeRight .subscribeForm input {
            width: 200px; }
          .subscribeWrap .subscribe .subscribeRight .subscribeForm button {
            padding: 0 5px; } }
      @media (max-width: 507px) {
        .subscribeWrap .subscribe .subscribeRight .subscribeRightHead {
          font-size: 19px; }
        .subscribeWrap .subscribe .subscribeRight .subscribeRightText {
          font-size: 14px; } }
    @media (max-width: 1040px) {
      .subscribeWrap .subscribe {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }

.newArrivalsWrap {
  height: 148px;
  background-color: #f8f3f4; }

.newArrivals {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .newArrivals {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px; }

.h3-arrivals {
  font-size: 24px;
  font-weight: 900;
  line-height: 0.83;
  color: #f16d7f; }

.arrivalsLink {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  color: #636363; }

.arrivalsLink:last-child {
  font-weight: bold;
  color: #f16d7f; }

.featuredItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .featuredItems .featuredItem {
    height: 370px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .featuredItems .featuredItem .itemName {
      padding-left: 10px;
      font-size: 13px;
      text-transform: uppercase;
      color: #222222;
      font-weight: 700;
      max-height: 2.4em;
      overflow: hidden; }
    .featuredItems .featuredItem .itemPrice {
      padding: 0 0 20px 10px;
      color: #f16d7f;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
    .featuredItems .featuredItem .featuredImg {
      height: 280px;
      position: relative; }
      .featuredItems .featuredItem .featuredImg .featuredBuy {
        height: inherit;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        position: absolute; }
        .featuredItems .featuredItem .featuredImg .featuredBuy button {
          padding: 15px;
          border: 1px solid #ffffff;
          background: none;
          color: white;
          font-size: 13px;
          font-weight: 700;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          cursor: pointer; }
  .featuredItems .featuredItem:hover {
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }
  .featuredItems .featuredItem:hover .featuredBuy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
