@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
body {
  font-family: 'Lato', sans-serif; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header {
  height: 100px;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto; }
  .header .logoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .logoContainer .logo {
      width: 59px;
      height: 51px; }
    .header .logoContainer .bran {
      color: #222222;
      font-size: 27px;
      font-weight: 300;
      line-height: 51px; }
      .header .logoContainer .bran span {
        font-weight: 400;
        color: #f16d7f; }
  .header .search {
    margin-left: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    overflow: hidden; }
    .header .search .searchBrowse {
      height: inherit;
      padding: 12px;
      font-size: 14px;
      color: #222222;
      background-color: #f9f9f9;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-right: 1px solid #e6e6e6; }
    .header .search input {
      height: inherit;
      padding: 0 3px;
      border: none;
      outline: none; }
    .header .search button {
      height: inherit;
      padding: 0 8px;
      border: 0;
      background: none;
      border-left: 1px solid #e6e6e6; }
  .header .headerCart {
    margin-left: auto;
    margin-right: 25px; }
  .header .btnMyAccount {
    padding: 15px;
    background-color: #f16d7f;
    color: white;
    border: none; }

.nav {
  border-top: 1px solid #ececec;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav .navLink {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #222222; }
  .nav .navLink:not(:last-child) {
    margin-right: 45px; }
  .nav .navLink:hover {
    color: #f16d7f; }

footer {
  margin-top: 100px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.footerBrand {
  width: 427px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #898989; }
  .footerBrand .logoContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footerBrand .logoContainer .logo {
      width: 59px;
      height: 51px; }
    .footerBrand .logoContainer .bran {
      color: #898989;
      font-size: 27px;
      font-weight: 300;
      line-height: 51px; }
      .footerBrand .logoContainer .bran span {
        font-weight: 400;
        color: #f16d7f; }
  .footerBrand .footerBrandText1 {
    margin: 30px 0; }

.footerColumn {
  padding-top: 15px; }
  .footerColumn h2 {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 700;
    color: #f16d7f; }
  .footerColumn a {
    display: block;
    color: #898989;
    font-size: 16px;
    text-decoration: none; }
  .footerColumn a:hover {
    color: #f16d7f; }
  .footerColumn a:not(:last-child) {
    margin-bottom: 25px; }

.copyrights {
  height: 80px;
  background: #e6e6e6; }

.copyrightsWrap {
  margin-top: 100px;
  color: #7a7a7a;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.copyrightsRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .copyrightsRight a {
    text-decoration: none;
    color: inherit; }
    .copyrightsRight a i {
      width: 32px;
      height: 32px;
      background: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; }
    .copyrightsRight a i:hover {
      color: white;
      background: #f16d7f; }
